* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #deebf8, #fffad1);
}

.fullscreen-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-screen {
  width: 60vw;
  min-width: 550px;
  background-color: #f5f7fb;
  border: 5px solid #293264;
  border-radius: 10px;
  margin: 25px;
  padding: 40px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
